@import "tailwindcss";

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #1d4ed8;
  --color-secondary: #2083d4;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-raleway: var(--times-new-roman);
  --font-raleway-bold: var(--times-new-roman-bold);
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

.no-tailwind * {
  all: revert !important;
}
